# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode
.ipynb_checkpoints

# data 
data/cases.json
cases/
mda cases/
murder cases/
random cases/
